.profile-header
  = link_to root_path do
    = image_tag('nexus-icon.png', { class: 'icon-xs' })

  - if @user.id == current_user.id
    %h1 My Profile
  - else
    -if @user.profile
      %h1= full_name
    - else
      = @user.email

.profile-show-body
  - if @user.id == current_user.id
    %ul.quick-links
      %li= link_to 'Create Podcast', new_podcast_path
      %li= link_to 'Update Profile', edit_user_profiles_path(current_user)
      %li= link_to 'Cancel Account', destroy_user_path(current_user), :method => :delete, data: { confirm: 'Are you sure you want to cancel your account?' }

  .wrapper
    .profile-show-avatar
      - if @user.profile.avatar.exists?
        = image_tag(@user.profile.avatar.url(:thumb), { class: 'circle-img' })
      - else
        = image_tag('default_thumb', { class: 'circle-img' })
    %h2= full_name

    %h2 Podcasts
    %div
      - if @user.podcasts.exists?
        - @podcast.each do |p|
          = link_to p.title, podcast_path(p)
      - else
        %p No podcasts yet!
