.row#sign-up
  .column.bg-left.sign-up-header
    %span.brand
      = link_to root_path, class: 'row' do
        = image_tag('nexus-icon.png',  class: 'icon-s')
        = image_tag('nexus-labs-white.svg', class: 'brand-s')
    %h1 $10/month

    %ul.sign-up-features.col-7.center
      %li
        = image_tag('cloud-computing.svg')
        User friendly podcast uploads
      %li
        = image_tag('races.svg')
        Unlimited bandwidth &amp; storage
      %li
        = image_tag('internet.svg')
        Be discovered by many
      %li
        %span .fm
        Use your own domain or a free sub-domain
      %li
        = image_tag('line-chart.svg')
        Podcast analytics
      %li
        = image_tag('manager.svg')
        Multiple managers


  .column.sign-up-page-right
    %h2 Sign up
    %p * All fields are required
    = devise_error_messages!

    = render 'partials/user-form'
