// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.episode {
  width: 100%;
  max-width: 1000px;
  display: flex;
  margin: 1em auto;

  padding: 2em 10px;
  box-sizing: border-box;
}

.episode-img {
  min-width: 100px;
  display: flex;
  margin-right: 2em;
  position: relative;
  align-self: flex-start;
  border: 3px solid $white;
  box-shadow: 0px 3px 5px rgba(black, .3);
  overflow: hidden;

}

.ep-title {
  font-size: 3rem;
  color: $blue;
  position: relative;
  margin: 0;
  margin-bottom: 1.2em;
  font-weight: 400;
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    width: 20%;
    background-color: $blue;
    margin-top: .3em;
    border-radius: 20px;
  }
}

.ep-description {
  line-height: 1.8em;
  white-space: pre-wrap;

}

.episode-body {
  width: 100%;
  padding-bottom: 1em;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(black, .2);
}

.audio-url {
  margin: 1em 0;
}

.audio-url, audio {
  width: 100%;
}

.thumb {
  width: 100px;
  height: 100px;
  margin:1em auto;
}
