// Place all the styles related to the explores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.explore-page {
  display: block;
  height: 940px;
  position: relative;
  overflow: hidden;
  background: url(image_path('coast.jpg')) center no-repeat;
}

.after-img {
  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.explore-header {
  margin-top: 5em;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
  p {
    color: $green;
  }
}

.explore-thumb {
  height: 100%;
  transition: all 0.2s ease;
}

.explore-podcast-thumb {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.explore-podcast {
  position: relative;
  height: 250px;
  width: 250px;
  overflow: hidden;
  z-index: 1;
  margin: 1em;
  box-shadow: 0px 3px 5px rgba(black, .3);
  background-color: $white;
  &:hover .explore-podcast-info {
    opacity: 1;
  }

  &:hover {
    .explore-thumb {
      transform: scale(1.1);
    }
  }

  &:hover:after {
    opacity: 1;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    background-color: rgba(black, .7);
    transition: all 0.2s ease;
  }
}

.explore-podcast-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 0.2s ease;

  h3 {
    color: $white;
    position: relative;
    z-index: 2;
  }

  p {
    color:$white;
  }
}

.explore-list {
  display: flex;
  margin-top: -125px;
  flex-wrap: wrap;
}
