// Place all the styles related to the podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-new-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: $gray;
}

.created-at {
  font-size: .7rem;
  font-style: italic;
}
.podcast-page {
  display: block;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.cover-photo {
  height: 100%;
  width: 1920px;
  overflow: hidden;

}

.after-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .8);
  }
}

.podcast-header {
  width: 100%;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;


  h1 {
    width: 100%;
    display: block;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 0px 3px 5px rgba(black, .3);
  }
}

.podcast-title {
  margin-top: 3em;
  text-align: center;

}

.podcast-sub-header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: darken($gray, 5%);
  align-items: center;

  .container {
    justify-content: space-between;
  }
}

.podcast-stats {
  .column {
    margin: 0 5px;

  }
  p {
    margin: 0;
    color: $white;
    font-weight: 700;
    &:first-child {
      color: $white;
      margin-bottom: 5px;
      font-size: .8rem;
    }
  }
}

.podcast-description {
  width: 100%;
  text-align: center;
  margin: 4em auto;
  line-height: 1.8em;
}

.podcast-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba($gray, .2);
  img {
    border-radius: 50%;
    border: 5px solid $white;
  }

  h2 {
    font-size: 2rem;
    font-weight: 400;
    color: rgba($gray, .7);
    border-bottom: 2px solid rgba($gray, .7);
  }
  .owner {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
