// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-create-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
  color: $white !important;

  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $white !important;
    text-align: center;
  }
}

.profile-header {
  display: flex;
  align-items: baseline;
  background-color: $gray;
  padding: 1.3em 2em;
  box-sizing: border-box;

  h1 {
    margin: 0;
    margin-left: 2em;
    color: $white;
  }
}

.profile-show-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
  }
}
