#sign-up {
  height: 100vh;
  width: 100%;
  background: $gray;
}

.bg-left {
  background: url(image_path('sunset.jpg')) center no-repeat;
  background-size: cover;
  width: 60%;
  padding: 1em;
  box-sizing: border-box;
  box-shadow: 0px 3px 5px rgba(black, .3);
}

.sign-up-header {
  h1 {
    font-weight: 300;
    margin-top: 3em;
    text-align: center;
    font-size: 3rem;
    color: $white;
    border-top: 3px solid $white;
    border-bottom: 3px solid $white;
    padding: .5em 0;
  }
}

.sign-up-page-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
  color: $white !important;

  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $white !important;
  }

  > p {
    font-size: .9rem;
    color: rgba($white, .6);
    font-style: italic;
  }
}

.sign-up-features {
  > li {
    margin: 1em 0;
    color: $white;
    display: flex;
    align-items: center;
    > img {
      width: 35px;
      margin-right: 1.3em;
    }

    span {
      color: #F73E3E;
      font-size: 1.4rem;
      font-weight: 700;
      margin-right: 1.3em;
    }
  }
}
