// Place all the styles related to the studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.studio-header {
  display: block;
  height: 75px;
  background-color: $gray;
  overflow: hidden;
  padding: .5em 1em;
  box-sizing: border-box;

  h3 {
    color: $white;
  }
}
