// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#welcome {
  display: flex;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background: url(image_path('mic.jpg')) center no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brand {
  width:100%;
  margin: 1em auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  > a {
    align-items: flex-end;
  }
}

.tagline {
  width: 100%;
  font-size: 1.2rem;
  color: $white;
  text-align: center;
  margin: 3em auto;
  line-height: 1.8em;
  p {
    color: $white;
  }
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.features {
  margin-top: 3em !important;

  h1 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.feature-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  > li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      width: 45px;
    }

    &:first-child {
      > img {
        width: 65px;
      }
    }
  }
}
