= simple_form_for(@episode, url: podcast_episodes_path(@podcast), html: { class: 'info-form' }) do |f|
  .column#error_explanation
    = devise_error_messages(@episode)
    .column
      = f.input :episode_thumbnail, as: :file

    .column.form-inputs
      = f.input :title, name: 'title', :error => false, required: true, autofocus: true

    .column.form-inputs
      = f.input :description, name: 'description', :error => false, required: true, as: :text

    .column.form-inputs
      = f.input :keywords, name: 'keywords', :error => false

    .column
      = f.input :audio, as: :file
    .form-actions
      = f.button :submit, 'Create'
