.mobile-toggle.mobile-dark
  .line
  .line
  .line

%nav.navbar
  .navbar-header

    = image_tag('nexus-icon.png')
  - if user_signed_in?
    - if current_user.profile
      .profile-img.avatar-thumb-sm
        - if !current_user.profile.avatar
          = image_tag('deault_thumb.jpg')
        - else
          = image_tag current_user.profile.avatar.url(:thumb)
        %h3= current_user_full_name


    .profile-links
      %h3.nav-title My Account
      %ul.nav-links
        %li{:class => active_route?(user_profiles_path(current_user))}= link_to 'Profile', user_profiles_path(current_user)
        %li= link_to 'Settings'
        %li= link_to 'Logout', destroy_user_session_path, :method => :delete

  - else
    =link_to 'Log In', login_path
  .company-links
    %h3.nav-title Nexus Labs
    %ul.nav-links
      %li{:class => active_route?(root_path)}= link_to "Home", root_path
      %li{:class => active_route?(explore_path)}= link_to 'Explore', explore_path
      %li= link_to 'Pricing'
