= simple_form_for @podcast,  class: 'info-form'  do |f|
  .column#error_explanation
    = devise_error_messages(@podcast)
  .column
    .column.hor-center
      = f.input :podcast_thumbnail, as: :file

    .column.form-inputs
      = f.input :title, name: 'title', :error => false, required: true, autofocus: true

    .column.form-inputs
      = f.input :description, name: 'description', :error => false, required: true, as: :text

    .column.form-inputs
      = f.input :owner, name: 'podcast_owner', :error => false, required: true, :input_html => { :value => current_user_full_name }

    .column.form-inputs
      = f.input :manager, name: 'manager', :error => false

    .column.form-inputs
      = f.input :keywords, name: 'keywords', :error => false

    .form-actions
      = f.button :submit, 'Create'
