= simple_form_for([@user, @profile], as: @profile, url: user_profiles_path([@user, @profile]), html: { class: 'info-form' }) do |f|
  .column#error_explanation
    = devise_error_messages(@profile)
  .column.hor-center
    = f.input :avatar, as: :file
  .column
    .column.form-inputs
      = f.input :username, name: 'username', :error => false, required: true, autofocus: true

    .row
      .column.form-inputs
        = f.input :first_name, name: 'first name', :error => false, :required => true

      .column.form-inputs
        = f.input :last_name, name: 'last night', :error => false,
        :required => true

    .column.form-inputs
      = f.input :portfolio_site, name: 'portfolio site', :error => false

    .row
      .column.form-inputs
        = f.input :twitter, name: 'twitter', :error => false

      .column.form-inputs
        = f.input :dribbble, name: 'dribbble', :error => false

    .column.form-inputs
      = f.input :behance, name: 'behance', :error => false
  .form-actions

    = f.button :submit, 'Create'
