= simple_form_for(@user, as: @user, url: registration_path(@user), html: { class: 'info-form' }) do |f|
  .column#error_explanation
    = devise_error_messages(@user)
  .column
    .column.form-inputs
      = f.input :email, name: 'email', :error => false, required: true, autofocus: true

    .column.form-inputs

      = f.input :password, name: 'password', :error => false, required: true, hint: ("8 characters minimum")

    .column.form-inputs

      = f.input :password_confirmation, :error => false, name: 'password_confirmation', required: true
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
