.mobile-toggle {
  width: 30px;
  height:25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 999;
}


.line {
  height: 5px;
  width:100%;
  background-color: $white;
  border-radius: 20px;
}

.navbar {
  width: 290px;
  position: fixed;
  top: 0;
  right: -290px;
  bottom: 0;
  background-color: white;
  padding: 1.2em 0;
  box-sizing: border-box;
  box-shadow: -3px 0px 5px rgba(black, .3);
  z-index: 100;
  transition: all 0.2s ease;
  h3 {
    margin: 0;
  }
}

.navbar-header {
  display: flex;
  align-items: center;
  > img {
    width: 30px;
    margin: 10px;
    display: flex;
    align-self: center;
  }
}

.nav-extended {

  padding: 1.2em 0;
  right:0;
  transition: all 0.2s ease;
}

.avatar-thumb {
  img {
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 3px 5px rgba(black, .3);
    margin-bottom: 1em;
  }
}

.avatar-thumb-sm {

  img {
    width: 75px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 3px 5px rgba(black, .3);
    margin-bottom: 1em;
  }
}
.nav-title {
  border-bottom: 2px solid $blue;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $blue;
  padding-bottom: 5px;
  padding-left: 10px;
  box-sizing: border-box;
}

.profile-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-links, .company-links {
  margin-top: 3em;
}

.nav-links {
  li {

    color: $gray;
    a {
      padding: .5em .7em;
      box-sizing: border-box;
      display: block;
      width: 100%;
      color: inherit;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        background-color: $gray;
        color: $white;
      }
    }
  }
}
