body {
  font-family: 'Quicksand', sans-serif;
}

.no-decoration {
  text-decoration: none;
}

.font-green {
  color: $green;
}

.font-white {
  color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $gray;
}
