.page-new-wrapper
  = render 'partials/header'
  .page-create-body
    %h2 Edit your episode
    = simple_form_for(@episode, url: update_episode_path(@podcast), html: { class: 'info-form' }) do |f|
      .column#error_explanation
        = devise_error_messages(@episode)
        .column
          = image_tag @episode.episode_thumbnail.url(:thumb), class: 'thumb'
          = f.input :episode_thumbnail, as: :file

        .column.form-inputs
          = f.input :title, name: 'title', :error => false, required: true, autofocus: true

        .column.form-inputs
          = f.input :description, name: 'description', :error => false, required: true, as: :text

        .column.form-inputs
          = f.input :keywords, name: 'keywords', :error => false

        .column
          = f.input :audio, as: :file
        .form-actions
          = f.button :submit, 'Update'
