#welcome
  .column
    %span.brand
      = image_tag('nexus-icon.png',  class: 'icon-r')
      = image_tag('nexus-labs-white.svg', class: 'brand-r')
  .tagline.col-9
    %p Nexus Labs is a podcasting platform that allows you to record simultaneous audio from all users within your Studio. Nexus Labs aims to make it easier for you to conduct your profession by making it easier to have conversations with others
  %span.action-buttons
    = link_to 'Explore', explore_path, { class: 'btn btn-green no-decoration' }
    = link_to 'Sign Up', signup_path, { class: 'btn btn-blue no-decoration' }

.features.column.container.center
  %h1 Features

  %ul.feature-list
    %li.col-3
      = image_tag('group.svg')
      %p Multi-user studio rooms to record group audio
    %li.col-3
      = image_tag('search.svg')
      %p Explore other podcasts and discover great content
    %li.col-3
      = image_tag('upload.svg')
      %p Host your podcasts on a custom website with your own domain
