.column {
  display: flex;
  flex-direction: column;
}

.title-lg {
  font-size: 3rem;
  color: $white;
  text-shadow: 0px 3px 5px rgba(black, .3);
}

.text-center {
  text-align: center;
}

.margin-b-lg {
  margin-bottom: 5em;

}
.bg-gray {
  background-color: $gray;
}

.row {
  display: flex;
}

.hor-center {
  justify-content: center;
}

.al-center {
  align-items: center;
}
.icon {
  display: flex;
  align-self: center;
}

.icon-xs {
  @extend .icon;
  width: 36px;
  margin-right: 1.3em;
}

.icon-s {
  @extend .icon;
  width: 46px;
  margin-right: 1.9em;
}

.icon-r {
  @extend .icon;
  width: 65px;
  margin-right: 3em;
}

.icon-l {
  display: flex;
  align-self: center;
  width: 131px;
}

.brand-xs {
  width: 250px;
}

.brand-s {
  width: 350px;
}

.brand-r {
  width: 591px;
}

.center {
  margin: 0 auto;
}

.gray-bg {
  background-color: $gray;
}

.container {
  width: 100%;
  max-width: 1200px;
}
.col-1 {
  width: 6.5%;
}
.col-2 {
  width: 15%;
}
.col-3 {
  width: 23.5%;
}
.col-4 {
  width: 32%;
}
.col-5 {
  width: 40.5%;
}
.col-6 {
  width: 49%;
}
.col-7 {
  width: 57.5%;
}
.col-8 {
  width: 66%;
}
.col-9 {
  width: 74.5%;
}
.col-10 {
  width: 83%;
}
.col-11 {
  width: 91.5%;
}
.col-12 {
  width: 100%;
 }

 .list-dots {
  width: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 .3em;
  padding: 5px;
  box-sizing: border-box;
  > .dot {
   height: 5px;
   width: 5px;
   border-radius: 50%;
   background: $gray;
  }
 }

 .circle-img {
   border-radius: 50%;
   border: 5px solid $white;
   box-shadow: 0px 3px 5px rgba(black, .3);
 }

 .quick-links {
   width: 100%;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid lighten($gray, 60%);
   padding-bottom: .8em;
   box-sizing: border-box;
   li {
     font-size: .8rem;
     margin:0 1rem;
     position: relative;

     a {
       font-weight: 700;
       text-decoration: none;
       transition: all 0.2s ease;
       text-transform: uppercase;
       color: $gray;
     }

     &:hover a {
       color: $red;
     }
   }
 }

.visible {
  opacity: 1;
}

.active {
  background-color: $blue;

  a {
    color: $white !important;
  }
}
