.page-new-wrapper
  = render 'partials/header'
  .page-create-body
    %h2 Log in
    = simple_form_for(@user, as: @user, url: new_user_session_path(@user)) do |f|
      .form-inputs
        = f.input :email, required: false, autofocus: true
        = f.input :password, required: false
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Log in"
    = render "devise/shared/links"
