.explore-page
  = render 'partials/header'
  .after-img

  .explore-header
    %h1.title-lg Explore
    %p.margin-b-lg Use the search bar, or scroll down yourself to find new and amazing content creators
    = render 'partials/search-form'
.container.center.row
  .explore-list
    - @podcast.each do |p|
      .explore-podcast
        .explore-podcast-thumb
          = image_tag p.podcast_thumbnail.url(:thumb), class: 'explore-thumb'
        .explore-podcast-info
          %h3= p.title
          %p= p.owner
          = link_to 'Explore', podcast_path(p), { class: 'btn btn-green' }
