.btn {
  display: inline-flex;
  padding: 10px 50px;
  border-radius: 20px;
  color: $white;
  margin: 0 1.4em;
  background: none;
  font-size: 1rem;
  text-decoration: none;
  outline: none;
}

.btn-green {
  border: 2px solid $green;
  color: $green;
  transition: 0.2s ease all;

  &:hover {
    background-color: $green;
    color: $gray;
  }
}

.btn-blue {
  border: 2px solid $blue;
  color: $white;
  background-color: $blue;
  transition: 0.2s ease all;

  &:hover {
    background-color: darken($blue, 10%);
  }
}

.btn-red {
  border: 2px solid $red;
  color: $white;
  background-color: $red;
  transition: 0.2s ease all;

  &:hover {
    background-color: darken($red, 10%);
  }
}

.btn-amber {
  border: 2px solid $amber;
  color: $white;
  background-color: $amber;
  transition: 0.2s ease all;

  &:hover {
    background-color: darken($amber, 10%);
  }
}
