.info-form {
  width: 50%;
  .row {
    justify-content: space-between;
    > .form-inputs {
      width: 48%;
    }
  }

  .file {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
.form-inputs {
  width: 100%;
  margin: 1em 0;
   input, textarea {
    width: 100%;
    background: darken($gray, 9%);
    border-radius: 20px;
    padding: 1em 1em;
    box-sizing: border-box;
    border: none;
    outline: none;
    margin-top: .5em;
    color: $white;
    font-family: 'Raleway', sans-serif;
  }

  label {
    font-size: 1rem;
    font-weight: bold;
    color: lighten($gray, 40%);
  }

  textarea {
    height: 200px;
    resize: none;
  }
}

.form-actions {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.label {
  font-size: 1rem;
  font-weight: bold;
  color: lighten($gray, 50%);
}

.hint {
  font-size: .8rem;
  color: rgba($white, .4);
  font-style: italic;
}

.podcast_search, .episode_search {
  width: 100%;
  background-color: lighten($gray, 10%);
  display: flex;
  align-items: center;
  padding: .8em .8em;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 10px;

  input {
    background: none;
    border: none;
    width: 100%;
    margin-right: 10px;
    outline: none;
    color: $white;
  }
}

.search-bar {
  width: 30%;
}

.search-action {
  display: flex;
  width: 15px;
  height: 15px;
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(black, .3);
}
