#error_explanation {
  li {
    background: rgba($red, .4);
    padding: .5em 1em;
    margin: 1em 0;
    border-radius: 20px;
    box-sizing: border-box;
  }

  h2 {
    display: none;
  }
}

.alert {
  position:fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .3em 1.5em;
  box-sizing: border-box;
  color: $white;
  box-shadow: 0px -3px 10px rgba(black,.5);
  text-align: center;
  font-size: 1rem;
  z-index: 999;

  p {
    color: $white;
    font-weight: 400;
  }
}

.alert-warning {
  background: $red;
}

.alert-success {
  background: rgb(58, 138, 61);
}
