.podcast-page
  = render 'partials/header'
  .after-img
    - if @podcast.podcast_thumbnail.exists?
      = image_tag @podcast.podcast_thumbnail.url(:x_large), class: 'cover-photo'
    - else
      = image_tag('default_x_large.jpg')


  .podcast-header
    .podcast-title
      %h1.col-5= @podcast.title
      %p.font-green= @podcast.keywords

.podcast-sub-header
  .container.row.center
    .action-button
      = button_to("Follow", nil, { class: 'btn btn-green'})

    = render 'partials/search-form'

    .podcast-stats.row
      .column
        %p Followers
        %p.number 15K
      .column
        %p Following
        %p.number 10
      .column
        %p Episodes
        %p.number= @podcast.episodes.count

.podcast-body
  - if user_signed_in?
    - if @podcast.user_id == current_user.id
      %ul.quick-links
        %li= link_to 'Create Episode', new_podcast_episodes_path(@podcast)
        %li= link_to 'Update Podcast', edit_podcast_path
        %li= link_to 'Delete Podcast', podcast_path(@podcast), :method => :delete, data: { confirm: 'Are you sure you want to delete this podcast?' }
  .container.center.podcast-owner
    %h2.text-center Authors
    = image_tag @podcast.user.profile.avatar.url(:thumb)
    %p.owner= @podcast.owner

    - if !@podcast.manager.empty?
      %h2 Managers
      %p= @podcast.manager
    %p.podcast-description= @podcast.description

  - @episode.each do |e|
    .container.center
      .episode
        .episode-img
          - if !e.episode_thumbnail.exists?
            = image_tag e.podcast.podcast_thumbnail.url(:thumb)
          - else
            = image_tag e.episode_thumbnail.url(:thumb)
        .episode-body
          %h2.ep-title= e.title
          %p.ep-date
          %p.ep-description= e.description
          %p.audio-url
            = audio_tag(e.audio.url, controls: true)
          %p.created-at
            Published:
            = e.created_at.strftime("%B, %e, %G")
          - if user_signed_in?
            - if @podcast.user_id == current_user.id
              = link_to 'Delete Episode', destroy_episode_path(e), :method => :delete, data: { confirm: 'Are you sure you want to delete this podcast?' }, class: 'btn btn-red'
              = link_to 'Update Episode', update_episode_path(@podcast, e), class: 'btn btn-amber'
