!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NexusLabs
    %link{:href => "https://fonts.googleapis.com/css?family=Quicksand:300,400,700", :rel => "stylesheet"}/


    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .alert-box
    - if notice
      .alert.alert-success
        %p= notice
    - elsif alert
      .alert.alert-warning
        %p= alert
    = render 'partials/navbar'
    = yield
